/* For Colors */
:root {
    /* ----- Primary ------ */
    --headingText: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);

    /* ----- Neutral ------ */
    --detailText: hsl(233, 8%, 62%);
    --graybg: hsl(220, 16%, 96%);
    --herobg: hsl(0, 0%, 98%);
    --hoverText: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    padding: 20px 100px;
}

/* ---------- Reusable code -----------*/
.btn {   
    padding: 15px 30px;
    background: linear-gradient(to right,var(--limeGreen), var(--brightCyan));
    border-radius: 35px;
    transition: all 300ms;
}

.btn:hover,
.btn:active {
    opacity: 70%;
}
.btn a {
    color: var(--hoverText);
}

/* ---------- Navigation Bar ------------ */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

ul li a {
    color: var(--detailText);
    transition: all 300ms;
}

ul li a:hover {
    color: var(--headingText);
    border-bottom: 5px solid;
    border-image: linear-gradient(
        to right, var(--limeGreen), var(--brightCyan)
    );
    border-image-slice: 1;
    padding-bottom: 20px;
}

